* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(60, 61, 61); */
}


/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header_plus {
    display: flex;
    /* flex-direction: row;
    justify-content: space-around; */
    background-color: rgba(240, 248, 255, 0);
    width: 60%;
    height: auto;
    font-size: 1.3vw;
}

.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(32, 43, 53, 0);
    width: 40%;
    height: auto;
    font-size: 1.3vw;
}

.header p {
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    margin: 30px;
}

/* End Header */


/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(29, 29, 29, 0.966);
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner div {
    background-color: chocolate;
    width: 50%;
    height: 95%;
    border-radius: 30px;
}

.banner_first {
    background-image: url('imggel/gelen1.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-right: 10px;

}

.banner_second {
    background-image: url('imggel/gelen2.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-left: 10px;

}

.banner .banner_first h1 {
    display: flex;
    font-size: 7vw;
    color: #ffffff;
    justify-self: start;
    margin-top: 30%;
    margin-left: 3%;
    text-shadow: 0px 0px 10px #000000, 5px 0 55em rgb(0, 0, 0), 0 0px 0.1em rgb(0, 0, 0);

}

.banner .banner_first h3 {
    display: flex;
    font-size: 1em;
    color: #ffffff;
    justify-self: start;
    margin-top: -2%;
    margin-left: 3%;
    text-shadow: 0px 0px 10px #000000, 5px 0 55em rgb(0, 0, 0), 0 0px 0.1em rgb(0, 0, 0);

}

.banner_first:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.banner_second:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

/* End Banner */



/* Body */
.body {
    display: flex;
    flex-direction: row;
    /* text-align: center;
    align-items: center; */
    justify-content: center;
    background-color: rgba(29, 29, 29, 0.966);
    width: 100%;
    /* height: 500px; */
}

.body_div_first {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color:rgb(0, 255, 26); */
    width: 85%;
    /* height: 98%; */
    margin: 0px 10px 0px 20px;
    color: #ffffff;
}

.body_div_first div {
    display: flex;
    justify-content: center;
    background-color: #c3ff00;
    width: 32%;
    height: 200px;
    margin: 0px;
    border-radius: 20px;
}

.body_div_second {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color:rgb(0, 183, 255); */
    width: 15%;
    margin: 0px 20px 0px 10px;
    padding-top: 12px;
}

.body_div_second div {
    display: flex;
    justify-content: center;
    background-color: #ff2727;
    width: 100%;
    height: 200px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
}

.div1 {
    background-image: url('imggel/gelen_razvl.jpeg');
    background-size: cover;
    background-position: center;
}

.div2 {
    background-image: url('imggel/gel_otdih.jpg');
    background-size: cover;
    background-position: center;
}

.div3 {
    background-image: url('imggel/gel_magaz.webp');
    background-size: cover;
    background-position: center;
}

.body .body_div_first p {
    padding: 30% 0% 0% 0%;
    font-size: 3vw;
    text-shadow: 0px 0px 10px #000000, 5px 0 55em rgb(0, 0, 0), 0 0px 0.1em rgb(0, 0, 0);
}

.body .body_div_second p {
    color: #ffffff;
    padding: 60% 0% 0% 0%;
    font-size: 1.5vw;
    text-shadow: 0px 0px 10px #000000, 5px 0 55em rgb(0, 0, 0), 0 0px 0.1em rgb(0, 0, 0);
}

.body_div_first div:hover {
    box-shadow: 0px 0px 35px 5px rgb(255, 255, 255);
    transform: scale(1.04);
    transition: transform 0.4s ease;
}

/* End Body */


/* Mini Banner */
.mini_banner {
    display: flex;
    flex-direction: row;
  
    background-color: rgba(29, 29, 29, 0.966);
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.mini_banner div {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 255, 26);
    /* margin: 5px; */
    width: 12%;
    height: 90%;
    border-radius: 10px;
}

/* End Mini banner */


/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: auto;
    color: #ffffff;
    padding-bottom: 30px;
}

.footer p {
    margin: 20px;
    font-size: 1.2vw;
}

/* End Footer */


